body {
    margin: 0;
    background-color: #FF69B4; /* Fundo rosa bebê */
    font-family: 'Courier New', Courier, monospace;
    color: #4a004a; /* Roxo escuro suave para texto */
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C71585; /* Rosa claro */
    border-radius: 20px;
    height: 75px;
    padding: 0 20px;
    box-shadow: 0 4px 10px #ffffff;
}

.topo h1 {
    font-size: 24px;
    color: #ffffff; /* Texto escuro para contraste */
    letter-spacing: 2px;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout input[type=submit] {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #d63384; /* Rosa vibrante */
    background-color: transparent;
    color: #d63384;
    font-weight: bold;
    transition: all 0.3s ease;
}

.logout input[type=submit]:hover {
    background-color: #d63384;
    color: #fff0f5; /* Lavanda rosada */
    cursor: pointer;
}

.menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 30px;
}

.menu1, .menu2, .menu3, .menu4, .menu5, .menu6 {
    width: 280px;
    height: 280px;
    background-color: #DB7093; /* Lavanda rosada */
    border: 3px solid #FFFFFF; /* Rosa pink */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 0 15px rgba(248, 187, 208, 0.4); /* Rosa candy */
}

.menu1:hover, .menu2:hover, .menu3:hover,
.menu4:hover, .menu5:hover, .menu6:hover {
    transform: scale(1.05);
    background-color: #f8bbd0; /* Rosa candy suave */
    cursor: pointer;
}

.menus a {
    color: #d63384; /* Roxo escuro para contraste */
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-label {
    margin-top: 10px;
    font-size: 22px;
    color:#FF1493;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
    position: absolute;
    bottom: 20px;
    text-align: center;
}
 
.menu1:hover .menu-label,
.menu2:hover .menu-label,
.menu3:hover .menu-label,
.menu4:hover .menu-label,
.menu5:hover .menu-label,
.menu6:hover .menu-label {
    opacity: 1;
}
